.idea/workspace.xml
.idea/preferred-vcs.xml
.idea/markdown-navigator.xml
.idea/markdown-exported-files.xml
.idea/markdown-navigator/
.idea/codeStyles/
node_modules/
coverage/
npm-debug.log
dist/pcast-screen-sharing.zip
dist/pcast-screen-sharing/
dist/workflow-example/
